<ye-button warn (click)="test()">测试</ye-button>

<div ye-cells>
    <div cell>
        <div head>
            <label class="weui-label">qq</label>
        </div>
        <div body>
            <input ye-input type="text" placeholder="请输入qq号" />
        </div>
    </div>
    <div cell vcode>
        <div head>
            <label class="weui-label">手机号</label>
        </div>
        <div body>
            <input ye-input type="text" placeholder="请输入手机号" />
        </div>
        <div foot>
            <button class="weui-vcode-btn">获取验证码</button>
        </div>
    </div>
    <div cell>
        <div head>
            <label class="weui-label">日期</label>
        </div>
        <div body>
            <input class="weui-input" type="date" />
        </div>
    </div>
    <div cell>
        <div head>
            <label class="weui-label">时间</label>
        </div>
        <div body>
            <input class="weui-input" type="datetime-local" />
        </div>
    </div>
    <div cell vcode>
        <div head>
            <label class="weui-label">验证码</label>
        </div>
        <div body>
            <input ye-input type="text" placeholder="请输入验证码" />
        </div>
        <div foot>
                <img class="weui-vcode-img" src="/assets/vcode.jpg">
        </div>
    </div>
</div>
