<ye-button>测试</ye-button>
<ye-button warn>测试</ye-button>
<ye-button primary>测试</ye-button>
<ye-button warn mini>测试</ye-button>
<ye-button primary mini>测试</ye-button>
<ye-button loading disabled>测试</ye-button>
<ye-button warn loading disabled>测试</ye-button>
<ye-button primary loading disabled>测试</ye-button>
<ye-button-plain warn>测试</ye-button-plain>
<ye-button-plain primary>测试</ye-button-plain>
<ye-button-plain warn mini>测试</ye-button-plain>
<ye-button-plain primary mini>测试</ye-button-plain>
<ye-button-plain loading disabled>测试</ye-button-plain>
<ye-button-plain warn loading disabled>测试</ye-button-plain>
<ye-button-plain primary loading disabled>测试</ye-button-plain>
